.idea
BACKEND/node_modules
BACKEND/.env
FRONTEND/pruebas.HTTP
FRONTEND/views/Timer
FRONTEND/views/Timer/Timer.css
FRONTEND/views/Timer/Timer.html
Proyecto_Final_Entrega_2.docx
Proyecto_Final_Entrega_2.pdf