<html lang="en">
    <head>
        <title>Perfil</title>
        <!-- Required meta tags -->
        <meta charset="utf-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no"
        />

        <!-- Bootstrap CSS v5.2.1 -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js"></script>
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
            crossorigin="anonymous"
        />
        <link href="./../styles/Nav&side.css" rel="stylesheet">
        <link href="./../styles/Profile.css" rel="stylesheet">
    </head>
    <body class="full">
        <nav class="navbar navbar-expand-sm sticky-top">
            <div class="container-fluid d-flex justify-content-between align-items-center">
                <i class="bi bi-list" id="menu"></i>
                <img src="./../assets/logo.jpeg" class="logo"><div></div>
            </div>
        </nav>
        <div class="d-flex">
            <div id="sidebar" class=" text-white position-fixed">
                <ul class="nav nav-pills flex-column pt-3 flex-grow-1">
                    <li class="nav-item">
                        <a href="Home.html" class="nav-link text-white">
                            <i class="bi bi-house"></i>
                            <span class="link-text ms-2">Inicio</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="Profile.html" class="nav-link text-white" id="a-profile">
                            <i class="bi bi-question-circle" id="i-profile"></i>
                            <span class="link-text ms-2">Perfil</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="Multiplayer.html" class="nav-link text-white">
                            <i class="bi bi-joystick"></i>
                            <span class="link-text ms-2">Juegos</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="leaderboard.html" class="nav-link text-white" id="a-leaderboard">
                            <i class="bi bi-flag"></i>
                            <span class="link-text ms-2">Marcador</span>
                        </a>
                    </li>
                    <li class="nav-item mt-auto" id="li-salir" style="display: block;">
                        <a href="" class="nav-link text-white" id="btnSalir">
                            <i class="bi bi-box-arrow-right"></i>
                            <span class="link-text ms-2">Salir</span>
                        </a>
                    </li>
                </ul>
            </div>
            
            <div id="profile" class="top-0 content">
                <div id="banner" class="border-bottom border-3 border-dark">
                    <img src="./../assets/logo.jpeg" alt="profile_img" class="profile_pic">
                    <div class="d-flex align-items-center">
                        <h2 class="me-3" id="username"><u>Usuario rancio</u></h2>
                        <button class="icono"> 
                            <a href="EditProfile.html" class="a">
                            <i class="bi bi-pencil-square fs-3"></i> 
                            </a>
                        </button>
                    </div>
                </div>
                
                <div class="container mt-3">
                    <div class="row">
                      <div class="col-12 col-md-5 text-center info">
                        <h3>Datos:</h3>
                        <p id="usermsg"><b>Mensaje:</b>No cargo</p>
                        <p id="useremail"><b>Correo:</b> NoCargo@gmail.com</p>
                        <p id="usercatfav"><b>Categoria favorita:</b>🍍 Bob Esponja </p>
                      </div>
                      <div class="col-2 text-center ">
                      </div>
                      <div class="col-12 col-md-5 text-center info">
                        <h3>Estadísticas:</h3>
                        <p id="userpts"><b>Máximo puntaje:</b> ? pts</p>
                        <p id="userrank"><b>Ranking:</b> ??</p>
                        <p id="useraciertos"><b>Aciertos:</b> ??</p>
                      </div>
                    </div>
                </div>
                  

                <div class="Historial container mt-3">
                    <h3 class="text-center">Historial:</h3>
                    <div class="row g-4 mt-2" id="rowQuestions">
                        <!-- <div class="col-12 col-sm-6 col-lg-4">
                            <div class="question wrong p-3 ">
                                <div class="d-flex">
                                    <div class="me-3">
                                        <b>¿Cuál era la pregunta?</b>
                                        <p>Respuesta...</p>
                                    </div>
                                    <i class="bi bi-x-circle fs-1"></i>
                                </div>
                                <div class="me-2">
                                    <b>Género: </b>
                                    <span>Geografía</span>
                                </div>
                            </div>
                        </div> -->

                    </div>
                </div>                

            </div>
        </div>
        <main>
            <script>
                document.getElementById('menu').addEventListener('click', ()=>{
                    const sidebar = document.getElementById('sidebar');
                    sidebar.classList.toggle('expanded');
                });
            </script>
        </main>
        <footer>
            <!-- place footer here -->
        </footer>
        <!-- Bootstrap JavaScript Libraries -->
        <script
            src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
            integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
            crossorigin="anonymous"
        ></script>

        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
            integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
            crossorigin="anonymous"
        ></script>
        <script src="../controllers/env.js"></script>
        <script src="../controllers/question.js"></script>
        <script src="../controllers/Users_controller.js"></script>
    </body>
</html>
