body, html {
    background: #29272B;
}
.carousel-inner {
    height: 400px;
}

#carouselExampleControls {
    max-width: 1000px; /* Adjust to your desired maximum width */
}

.carousel-item img {
    height: 100%; /* Make the image try to fill the height of the carousel-inner */
    object-fit: cover; /* Crop the image to maintain aspect ratio and cover the entire container */
    opacity: 60%;
}

#comenzarButton{
    background-color: #7b2cbf;
    color: white;
    font: bold 25px/1.5 "Roboto", sans-serif;
}

#comenzarButton:hover{
    background-color: #EAFD19;
    color: black;
    transform: scale(1.2);
}

.carousel-caption {
    color: white;
}

.a{
    color: inherit;
}

#sidebar.expanded ~ .content{
    margin-left:200px;
}

.entire{
    display:flex;
    flex-direction:column;
    justify-content:center; 
    align-items:center;  
}

.row{
    width: 100%;
    justify-content:center; 
}