body, html {
    background: #29272B;
}

.center{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.space{
    margin-left: 60px;
    transition: margin-left 0.3s;
}

#sidebar.expanded ~ .space{
    margin-left:200px;
}

.barra{
    margin: 0 auto;
    background-color: rgb(255, 255, 255);
    border: 5px black solid;
    border-radius: 20px;
    width: 100%;
    height: 25px;
    overflow: hidden;
}

.progreso{
    display: block;
    width: 0px;
    height: 100%;
    border-radius: 20px;
    background-image: linear-gradient(-45deg,gold 25%, blueviolet 25%, blueviolet 50%, gold 50%, gold 75%, blueviolet 75%, blueviolet);
    background-size: 60px 60px;
    animation: load 1s infinite linear;
}

@keyframes load {
    0%{
        background-position: 0 0;
    }
    100%{
        background-position: 60px 60px;
    }
}

.timer{
    text-align:right; 
    border-radius: 15px;
    color: white;
    width: 100%;
}
#txtseg{
    color: yellow;
}
#timer-text{
    font-size:xx-large;
}

/*Pantalla de carga -----------------------------------------------------*/
#contenedor_carga{
    background-color: rgba(250,240,245,0.9);
    height: 100%;
    width: 100%;
    position: fixed;
    -webkit-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
    z-index: 10000;
}

#carga{
    border: 20px solid black;
    border-top-color:yellow;
    border-top-style: groove;
    height: 100px;
    width: 100px;
    border-radius: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    -webkit-animation: girar 1.5s linear infinite;
    -o-animation: girar 1.5s linear infinite;
    animation: girar 1.5s linear infinite;
}

@keyframes girar{
    from { transform: rotate(0deg);}
    to { transform: rotate(360deg);}
}